PORT=8088
PROFILE=prod

DB_USER=postgres.rsuhstqfoaoabfzgezxr
DB_PORT=6543
DB_PASSWORD=

WORDLE_GOOGLE_CLIENT_ID=
WORDLE_GOOGLE_CLIENT_SECRET=
WORDLE_JWT_PRIVATE_KEY_PEM='-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n'
WORDLE_JWT_PUBLIC_KEY_PEM='-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----\n'

SPRING_DATA_REDIS_HOST=wordle-duel-service-redis
SPRING_DATA_REDIS_PORT=6379
