server:
  port: ${PORT:8088}
  forward-headers-strategy: framework # honor the original external request context (host, scheme, prefix)

spring:
  application.name: wordle-duel-service
  profiles.active: ${PROFILE:prod}
  config.import: optional:file:.env[.properties] # enable scanning of .env file
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    default-schema: wordle
    liquibase-schema: wordle
  jpa:
    properties.hibernate.default_schema: wordle
  security:
    oauth2.client.registration:
      google:
        client-id: ${WORDLE_GOOGLE_CLIENT_ID}
        client-secret: ${WORDLE_GOOGLE_CLIENT_SECRET}
        scope: openid, profile, email
        redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"

management:
  endpoints:
    web.exposure.include: health,info,prometheus
  endpoint:
    health.probes.enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

wordle:
  max-attempts: 6
  word-length: 5

app:
  security:
    whitelist-ant-patterns: /actuator/**,/oauth2/**,/login/**,/public/**,/h2-console/**,/swagger-ui/**,/v3/api-docs/**,/ws,/ws/**
    jwt:
      issuer: ${spring.application.name}
      ttl-seconds: 900
      secret: ${WORDLE_JWT_SECRET}
    refresh:
      ttl-days: 180
      cookie-name: __Host-wd_refresh
      cookie-samesite: Lax
      cookie-path: /
      cookie-secure: true

springdoc:
  swagger-ui.csrf.enabled: true
